{%extends 'base.html'%} {%block content%}

<div class="mx-auto container mt-4">
  <div class="grid grid-cols-2 gap-6">
    <div class="bg-white p-4 flex justify-evenly flex-col gap-4">
      <select class="select select-bordered w-full mt-4 max-w-xs">
        <option disabled selected>Select Municipality?</option>
        {%for m in mun%}
        <option>{{m.city_name}}</option>
        {%endfor%}
      </select>
      <textarea
        class="textarea textarea-bordered"
        placeholder="Detailed Address"
      ></textarea>
      <button class="btn">Continue</button>
    </div>
    <div class="bg-white rounded-lg">
      {%for item in orderItem%}
      <img src="{{item.product.image.url}}" class="w-20" alt="" srcset="" />
      <p>{{item.product.name}}</p>
      <p>{{item.quantity}}</p>
      <p>&#8369; {{item.get_total}}</p>
      {%endfor%}
    </div>
  </div>
</div>
{%endblock%}
