{%extends 'base.html'%} {%block content%}
<div class="container mx-auto mt-4 font-mono">
  <div class="grid gap-4 grid-cols-6">
    <div class="col-span-4 h-fit p-4 divide-y-2 bg-white">
      {%for item in orderItem%}
      <div class="grid grid-cols-6 p-2">
        <div class="col-span-4 flex items-center">
          <img
            src="{{item.product.image.url }}"
            class="w-24"
            alt=""
            srcset=""
          />
          <h1 class="text-lg font-medium tracking-wide">
            {{item.product.name.title}}
          </h1>
        </div>
        <div class="flex items-center font-bold text-xl text-secondary">
          &#8369; {{item.get_total}}
        </div>
        <div class="flex flex-col justify-center items-center">
          <h1 class="text-slate-400 font-semibold">Qty</h1>
          <p class="font-bold text-lg">{{item.quantity}}</p>
        </div>
      </div>

      {%endfor%}
    </div>
    <div class="bg-white col-span-2 p-6 space-y-4">
      <div class="space-y-2">
        <p class="text-slate-400 font-semibold">Location</p>
        <p class="text-xs">
          <i class="fa-solid fa-location-dot text-slate-400 pr-2"></i> San Roque
          N. Samar
        </p>
      </div>
      <div class="space-y-2">
        <h1 class="font-bold tracking-wide text-xl">Order Summary</h1>
        <div class="flex justify-between">
          <p class="text-slate-400">Subtotal</p>
          <p>&#8369; {{total}}</p>
        </div>
        <div class="flex justify-between">
          <p class="text-slate-400">Shipping Fee</p>
          <p>&#8369; 0</p>
        </div>
        <div class="flex justify-center items-center space-x-2 p-6">
          <input
            type="text"
            class="outline-none border-spacing-1 border-slate-300"
          />
          <button class="btn bg-cyan-600 rounded-sm text-white">Apply</button>
        </div>
        <div class="flex justify-between">
          <p>Subtotal</p>
          <p>&#8369; {{total}}</p>
        </div>
        <div class="items-center justify-center flex">
          <button class="btn btn-primary w-full">PROCEED TO CHECKOUT</button>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock%}
<div>{{item.product.name}} {{item.quantity}}</div>
