{%extends 'base.html'%} {%block content%}
<div class="container mx-auto mt-4 font-mono">
  <div class="grid gap-4 grid-cols-6">
    <div class="col-span-4 h-fit p-4 divide-y-2 bg-white">
      <div class="overflow-x-auto">
        <table class="table">
          <!-- head -->
          <thead>
            <tr>
              <th></th>
              <th>Product</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody class="font-mono">
            {%for item in orderItem%}
            <!-- row 1 -->
            <tr>
              <th>
                <img
                  src="{{item.product.image.url}}"
                  class="w-24"
                  alt=""
                  srcset=""
                />
              </th>
              <td>{{item.product.name.title}}</td>
              <td>&#8369; {{item.product.price}}</td>
              <td>{{item.quantity}}</td>
              <td>&#8369; {{item.get_total}}</td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
    <div class="bg-white col-span-2 p-6 space-y-4">
      <div class="space-y-2">
        <p class="text-slate-400 font-semibold">Location</p>
        <p class="text-xs">
          <i class="fa-solid fa-location-dot text-slate-400 pr-2"></i> San Roque
          N. Samar
        </p>
      </div>
      <div class="space-y-2">
        <h1 class="font-bold tracking-wide text-xl">Order Summary</h1>
        <div class="flex justify-between">
          <p class="text-slate-400">Subtotal</p>
          <p>&#8369; {{total}}</p>
        </div>
        <div class="flex justify-between">
          <p class="text-slate-400">Shipping Fee</p>
          <p>&#8369; 0</p>
        </div>
        <div class="flex justify-center items-center space-x-2 p-6">
          <input
            type="text"
            class="outline-none border-spacing-1 border-slate-300"
          />
          <button class="btn bg-cyan-600 rounded-sm text-white">Apply</button>
        </div>
        <div class="flex justify-between">
          <p>Subtotal</p>
          <p>&#8369; {{total}}</p>
        </div>
        <div class="items-center justify-center flex">
          <button class="btn btn-primary w-full">PROCEED TO CHECKOUT</button>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock%}
<div>{{item.product.name}} {{item.quantity}}</div>
